/* Estilo básico para o container do relatório */
.relatorio {
    padding: 10px 50px;
    margin: 0 auto; /* Ajuste a margem para centralizar o container horizontalmente */
    max-width: 1200px; /* Limite máximo da largura do container */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

.hudrelatorio {
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.selectrelatorio {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
}

/* Estilo para o container da tabela */
.table-container {
    max-height: 550px; /* Ajuste a altura conforme necessário */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical */
    border: 1px solid #ddd; /* Borda ao redor da tabela */
    border-radius: 8px; /* Bordas arredondadas */
    width: 100%; /* Largura do container */
    overflow-x: auto; /* Adiciona uma barra de rolagem horizontal se necessário */
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #102144; /* Cor do título */
  }
  
  textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    resize: none;
  }
  
  .justificar-btn {
    background-color: #102144;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .justificar-btn:hover {
    background-color: #0e1a2c; /* Tom mais escuro para hover */
  }
  
/* Estilo para o container do select */
.select-container {
    margin: 1rem 0;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
/* Estilo para o elemento select */
select {
    background-color: #102144; /* Cor de fundo */
    color: #ffffff; /* Cor do texto */
    border: 1px solid #102144; /* Cor da borda */
    border-radius: 4px; /* Bordas arredondadas */
    padding: 0.5rem 1rem; /* Espaçamento interno */
    font-size: 1rem; /* Tamanho da fonte */
    line-height: 1.5; /* Altura da linha */
    cursor: pointer; /* Cursor ao passar sobre o select */
    outline: none; /* Remove a borda padrão ao focar */
    transition: background-color 0.3s, border-color 0.3s; /* Transição suave para a cor de fundo e borda */
}

/* Estilo para o select ao passar o mouse sobre ele */
select:hover {
    background-color: #0f1a3a; /* Cor de fundo ao passar o mouse */
    border-color: #0f1a3a; /* Cor da borda ao passar o mouse */
}

/* Estilo para o select ao ser focado */
select:focus {
    background-color: #0e1a3a; /* Cor de fundo ao focar */
    border-color: #0e1a3a; /* Cor da borda ao focar */
}

/* Estilo para as opções do select */
option {
    background-color: #ffffff; /* Cor de fundo das opções */
    color: #102144; /* Cor do texto das opções */
}

/* Adiciona uma borda inferior ao label para destaque */
label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #102144; /* Cor do texto do label */
}

/* Estilo para a tabela */
table {
    width: 100%;
    border-collapse: collapse; /* Remove espaçamento entre células */
    font-family: Arial, sans-serif; /* Fonte para a tabela */
}

/* Estilo para o cabeçalho da tabela */
thead {
    background-color: #f4f4f4; /* Cor de fundo clara para o cabeçalho */
    color: #333; /* Cor do texto escura para contraste */
    position: sticky; /* Faz o cabeçalho fixo */
    top: 0; /* Posiciona o cabeçalho no topo do container */
    z-index: 1; /* Garante que o cabeçalho esteja acima do conteúdo da tabela */
}

/* Estilo para as células do cabeçalho */
th {
    padding: 12px;
    border-bottom: 2px solid #ddd; /* Linha inferior para o cabeçalho */
    text-align: left;
    background-color: #e0e0e0; /* Cor de fundo suave para o cabeçalho */
}

/* Estilo para o corpo da tabela */
tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Cor de fundo clara para linhas pares */
}

tbody tr:nth-child(odd) {
    background-color: #ffffff; /* Cor de fundo branca para linhas ímpares */
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd; /* Linha inferior suave para as células */
}

/* Estilo para a linha ao passar o mouse */
tbody tr:hover {
    background-color: #e0e0e0; /* Cor de fundo ao passar o mouse */
    color: #333; /* Cor do texto ao passar o mouse */
}
